@media only screen and (max-width: 600px) {
  .splash {
    .splash-inner {
      height: calc(100vh - 240px);
    }

    .splash-title {
      margin-top: 40px;
      position: relative;
      top: 54px;
    }

    .splash-inner p {
      font-size: 30px;
      position: static;
      text-align: center;

      &::after {
        bottom: 160px;
        left: 80px;
        width: 164px;
      }
    }

    .splash-button,
    .icon-arrow {
      font-size: 30px;
    }

    .icon-arrow {
      left: 45px;
    }
  }

  .splash-title {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
  }

  h2 {
    font-size: 35px;
  }

  #discover {
    margin-bottom: 10px;

    &::after {
      bottom: -95px;
      left: 48%;
      width: 164px;
    }
  }

  #discover-2{
    &::after {
      bottom: -95px;
      left: 48%;
      width: 164px;
    }
  }

  .product-list :nth-child(2) {
    .product__left {
      order: 1;
    }

    .product__right {
      order: 2;
    }
  }

  .product {
    padding-bottom: 0;
  }

  #info {
    .desc-info {
      font-size: 25px;
    }

    h2::after {
      bottom: -4px;
      left: 50%;
      width: 340px;
    }
  }

  h3 {
    font-size: 25px;
  }

  .form {
    p {
      font-size: 25px;
      letter-spacing: 1px;
    }

    input {
      width: 350px;
      height: 60px;
      font-size: 25px;
    }

    textarea {
      width: 350px;
      height: 152px;
      margin: 0 auto;
      padding: 15px 15px;
      font-size: 20px;

    }

    button {
      font-size: 20px;
      letter-spacing: 5px;
      width: 200px;
      height: 60px;
    }
  }
}
