/* Variables */

$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;
$color-grey: rgb(87, 87, 87);

$font-main: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-semibold-italic: 600;
$font-bold: 700;
$font-black: 900;
